.header {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-content: start;

  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url("../images/background_header.svg");
}

.header__span-accent {
  display: flex;
  display: block;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
}

.header__title {
  max-width: 709px;
  color: #000000;
  font-family: "inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  margin: 183px 0 0 80px;
  display: flex;
  flex-direction: column;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  font-family: "noto serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 80px;
  color: #000000;
}

.header__footer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin: auto 80px 40px;
}

.header__paragraph {
  color: #6f6f6f;
  font-family: "inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  margin: 0;
  z-index: 2;
}
